<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         syntaxCheck="false"
        >
    <testsuites>
        <testsuite name="First Tests">
            <directory>/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>/</directory>
        </whitelist>
    </filter>
</phpunit>
